@import "../styles/modules/mq.scss";

.wrap {
  padding: 1rem;
  padding-top: 3rem;
  text-align: center;

  h1 {
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    display: block;
  }
}

.logo {
  height: 8rem;
  display: block;
  margin: 0 auto;
}
